/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/

:root {
  --primary-color: #ffffff;
  --secondary-color: #f65282;
}

h1 {
  font-family: "Playfair Display", serif;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
}
h3 {
  font-family: "Poppins", sans-serif;
}
hr {
  width: 75%;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}
hr {
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr:before {
  /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.navbar-brand {
  font-family: "Playfair Display", serif;

  color: var(--primary-color);
  font-size: 32px;
}
.nav-link a {
  color: var(--primary-color);
  height: 19px;
  font-size: 16px;
}

img {
  width: 550px;
  height: 400px;
  margin-top: 100px;
}
.name {
  font-family: "Playfair Display", serif;
  color: black;
  margin-top: 150px;
  font-size: 52px;
}

.description {
  font-family: "Poppins", sans-serif;
  color: black;
  padding: 20px;
  line-height: 36px;
  font-size: 20px;
  text-align: center;
}

.image-film {
  width: 386px;
  height: 280px;
}

.film-description {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400px;
  color: #272142b2;
  opacity: 90%;
}
/*.container-content {
  margin: 100px 144px;
}*/

.image-size {
  width: 386px;
  height: 280px;
  margin-left: 167px;
}
.image-film-three {
  width: 450px;
  height: 320px;
}

.wikipedia-link {
  color: darkslategray;
  text-decoration: none;
}
.wikipedia-link:hover {
  color: darkred;
  text-decoration: none;
}

/*About me page*/
.about-photo {
  width: 400px;
  height: 382px;
}
.aboutme-title {
  color: #f65282;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700px;
  line-height: 21.09px;
}
.aboutme-name {
  font-family: "Poppins", sans-serif;
  font-size: 58px;
  font-weight: 700px;
  line-height: 75px;
  text-align: center;
}
.photo-section {
  padding: 120px 60px;
}
.fa-brands {
  color: #f65282;
}

/*Favourite films*/

.section-name {
  padding: 130px 20px 20px 20px;
  font-family: "Poppins", sans-serif;
  text-align: left;
  line-height: 1.5em;
}
.image-fav {
  width: 386px;
  height: 280px;
}

h4 {
  font-family: "Poppins", sans-serif;
}

/*Footer*/

footer .work {
  background-color: lightgray;
  padding: 30px 120px;
  border-radius: 10px;
}

footer .work a {
  text-decoration: none;

  font-size: 24px;
}

footer .work a:hover {
  color: var(--secondary-color);
}

footer .email-link {
  text-decoration: none;

  font-size: 24px;
}

footer .email-link:hover {
  color: var(--secondary-color);
}
footer .social-media a {
  padding: 0 20px;
  background-color: azure;
  padding: 10px 14px;
  color: var(--secondary-color);
  border-radius: 50px;
  font-size: 24px;
}

.title {
  font-size: 48px;
  font-family: "Poppins", sans-serif;
}
.sentence {
  font-family: "Poppins", sans-serif;
}

/*Media*/

@media (max-width: 900px) {
  body {
    overflow-x: hidden;
  }
  .name {
    font-family: "Playfair Display", serif;
    color: black;
    font-size: 50px;
    margin-left: 100px;
  }
  .description {
    font-family: "Poppins", sans-serif;
    color: black;

    font-size: 22px;
    line-height: 32px;

    margin-left: 70px;
    margin-right: 50px;

    text-align: center;
  }

  .film-description {
    text-align: left;
    margin-left: 30px;
    line-height: 1.5em;
    width: 700px;
    font-size: 20px;
  }
  h2 {
    font-size: 42px;
    text-align: center;
    width: 350px;
  }

  .photo-section {
    text-align: center;
    padding: 20px 20px;

    margin-top: 50px;
  }
  .aboutme-name {
    text-align: center;
    margin: 0 auto !important;

    font-size: 36px;
  }
  .fa-brands {
    margin-bottom: 20px;
  }
  .social-media {
    padding: 10px;
  }
  .text-center {
    text-align: center;
  }
  .about-photo {
    width: 400px;
    height: 382px;
  }
  .short-desrciption {
    text-align: center !important;
    margin-left: 30px;
  }
  footer .social-media a {
    padding: 10px 10px;
  }

  /*.container-content {
    margin: 50px 0px;
  }*/
}
@media (max-width: 578px) {
  body {
    overflow-x: hidden;
  }
  .container {
    margin-left: 50;
  }

  .about-photo {
    padding-right: 32px;
  }

  .btn-dark {
    display: block;
    margin: 0 auto;
    margin-left: 20px;
  }

  .name {
    margin-left: 150px;
    min-width: 110%;
  }
  .description {
    margin-left: 150px;
    min-width: 110%;
  }

  footer .email-link {
    margin-left: 330px;
  }
  .sentence {
    margin-left: 120px;
    width: 470px;
  }
  hr {
    margin-left: 150px;
    width: 430px;
  }
}
@media (max-width: 280px) {
  body {
    overflow-x: hidden;
  }
  .short-desrciption {
    text-align: center !important;
    margin-left: 30px;
  }
  /*.container-content {
    margin: 30px 0px;
  }*/
  .name {
    margin-left: 200px;
    min-width: 120%;
  }
  .description {
    text-align: center;
    margin-left: 150px;
    width: 400px;
  }

  footer .email-link {
    margin-left: 420px;
    padding: 10px;
  }
  hr {
    margin-left: 150px;
    width: 430px;
  }
}
