/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/

:root {
  --primary-color: #ffffff;
  --secondary-color: #f65282;
}

h1 {
  font-family: "Playfair Display", serif;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
}
h3 {
  font-family: "Poppins", sans-serif;
}
hr {
  width: 75%;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}
hr {
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr:before {
  /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.navbar-brand {
  font-family: "Playfair Display", serif;
  font-size: 38px;
  color: var(--primary-color);
  width: 150px;
}
.nav-link {
  color: var(--primary-color);
  height: 19px;
  font-size: 16px;
}
.nav-link:hover {
  color: var(--primary-color);
}
.navbar-nav {
  position: fixed;
  top: 42px;
  right: 140px;
}
img {
  width: 550px;
  height: 400px;
  margin-top: 100px;
}
.name {
  font-family: "Playfair Display", serif;
  color: black;
  margin-top: 150px;
  font-size: 52px;
}

.description {
  font-family: "Poppins", sans-serif;
  color: black;
  padding: 20px;
  line-height: 36px;
  font-size: 20px;
  text-align: center;
}

.image-film {
  width: 386px;
  height: 280px;
}

.container-content {
  margin: 100px 144px;
}

.film-description {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400px;
  color: #272142b2;
  opacity: 90%;
}

.image-size {
  width: 386px;
  height: 280px;
  margin-left: 167px;
}
.image-film-three {
  width: 450px;
  height: 320px;
}

.wikipedia-link {
  color: darkslategray;
  text-decoration: none;
}
.wikipedia-link:hover {
  color: darkred;
  text-decoration: none;
}

/*About me page*/
.about-photo {
  width: 400px;
  height: 382px;
}
.aboutme-title {
  color: #f65282;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700px;
  line-height: 21.09px;
}
.aboutme-name {
  font-family: "Poppins", sans-serif;
  font-size: 58px;
  font-weight: 700px;
  line-height: 75px;
  text-align: center;
}
.photo-section {
  padding: 120px 60px;
}
.fa-brands {
  color: #f65282;
}

/*Favourite films*/

.section-name {
  padding: 130px 20px 20px 20px;
  font-family: "Poppins", sans-serif;
  text-align: left;
  line-height: 1.5em;
}
.image-fav {
  width: 386px;
  height: 280px;
  border-radius: 2px;
}

h4 {
  font-family: "Poppins", sans-serif;
}

/*Footer*/

footer .contact-box {
  background-color: lightgray;
  padding: 30px 120px;
  border-radius: 10px;
}

footer {
  margin: 60px 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--secondary-color);
}
.social-media {
  padding: 0 20px;
  background-color: azure;
  padding: 10px 14px;

  border-radius: 50px;
  font-size: 18px;
}

.title {
  font-size: 48px;
  font-family: "Poppins", sans-serif;
}

footer .contact-box p {
  margin: 0;
}

/*Media*/

@media (max-width: 900px) {
  .name {
    font-family: "Playfair Display", serif;
    color: black;

    font-size: 50px;
  }
  .description {
    font-family: "Poppins", sans-serif;
    color: black;

    font-size: 28px;
    line-height: 32px;
    justify-self: center;
    margin: auto;
  }

  .film-description {
    text-align: left;
    margin-left: 180px;
    line-height: 1.5em;
    width: 700px;
    font-size: 20px;
  }
  h2 {
    font-size: 42px;
    text-align: center;
    width: 350px;
  }
  .navbar ul {
    position: fixed;
    top: 42px;
    left: 30px;
  }

  .nav-link {
    font-family: "Poppins", sans-serif;
    margin-top: 30px;
    padding: 10px;
    font-size: 20px;
    font-weight: 400px;
    color: black;
  }
  .photo-section {
    text-align: center;
    padding: 20px 20px;

    margin-top: 50px;
  }
  .aboutme-name {
    text-align: center;
    margin: 0 auto !important;

    font-size: 36px;
  }
  .fa-brands {
    margin-bottom: 20px;
  }
  .social-media {
    padding: 10px;
  }
  .text-center {
    text-align: center;
  }
  .about-photo {
    width: 400px;
    height: 382px;
  }
  .short-desrciption {
    text-align: center !important;
    margin-left: 30px;
  }
  hr {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
  }
}
@media (max-width: 578px) {
  .about-photo {
    padding-right: 32px;
  }

  .btn-dark {
    display: block;
    margin: 0 auto;
    margin-left: 20px;
  }
  .text-sm-center {
    min-width: 320px;
    text-align: center;

    padding: 5px;
  }
  footer .contact-box {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 280px) {
  .short-desrciption {
    text-align: center !important;
    margin-left: 30px;
  }
}
